* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: pink;
    font-family: cursive;
    font-size: 14px;
}
h1, header p {
    line-height: 5px;   
    text-align: center;
    
}
h1 {
    padding-top: 20px
}
header p {
    padding-bottom: 20px;
    font-style: italic;
}
ul {
    list-style-type: none;
    margin: 0 320px;
    padding: 0;

}
li {
    display: inline;
}
li a {
    text-decoration: none;
    padding: 10px 4px;
}
li a:hover {
    background-color: rgba(240, 77, 104, 0.458);
    color: white;
}
.frame {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    background-color: white;
}
.frame h2 {
    padding: 10px 20px;
}
#section1 img {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0 20px;
}
#section1 #main-content {
    display:inline-block;
    width: 58%;
    vertical-align: top;
    margin: 0;
    padding: 0 16px;  
}
#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
    margin: 40px 20px;
}
#section2 p {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0;
}
#section2 img {
    object-fit: cover;
    width: 140px;
    height: 120px;
}
#section3 input,textarea {
    display: block;
    margin: 7px 20px;
    width: 70%;
    padding: 7px;
    resize: vertical;
    font-size: 14px;
}
#submit {
    display: block;
    width: 7em;
    height: 3em;
    text-align: center;
    margin: 12px 20px;
    cursor: pointer;
    border: none;
    background-color: #04AA6D;
    color: white;
    opacity: 0.8;
}
#submit:active{
    opacity: 1;
}
#submit:hover{
    opacity: 1;
}
#footer {
    width: 600px;
    margin: 10px auto;
}
.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0;
  }
  .fa-facebook, .fa-instagram, .fa-linkedin {
    background-color: white;
    border-radius: 50%;
    color: black;
  }
  #footer p {
    text-align: left;
  }